/* Center box */
body{
    background: linear-gradient(180deg, #5038d1 0%, #4b37cc 100%);

}
.download-box {
  max-width: 500px;
  margin: 100px auto;
  background: #fff;
  border-radius: 15px;
  padding: 30px 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

/* Header with image and text in one line */
.header-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.success-icon {
  width: 45px;
  height: 45px;
}

/* Underline below heading */
.underline {
  width: 100%;
  height: 2px;
  background: #ddd;
  margin: 15px 0 25px 0;
}

/* File name */
.file-name {
  font-size: 18px;
  color: #332a70;
  font-weight: 600;
  margin-bottom: 25px;
}

/* Buttons group */
.button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Download button */
.download-btn {
  display: inline-block;
  background-color: #1A0F47;
  color: #fff;
  padding: 12px 24px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.download-btn:hover {
  background-color: #291b78;
}

/* Home button */
.home-btn {
  display: inline-block;
  background-color: #332a70;
  color: #fff;
  padding: 12px 24px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.home-btn:hover {
  background-color: #463a99;
}
