{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vetrifiles.com{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- All CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- navbar CSS -->
    <!-- any other CSS -->
</head>

<body>
    {% include 'myapp/include/navbar.html' %}
    {% block content %}{% endblock %}
    {% include 'myapp/include/footer.html' %}
</body>

</html>